#! /bin/bash
# autodownload.sh - quake live dedicated server workshop item download utility.
# created by Thomas Jones on 03/10/15.
# thomas@tomtecsolutions.com

echo "========== download_update_workshop.sh has started. =========="
echo "========= $(date) ========="

workshopIDs=`cat {{ quakelive_home }}/baseq3/workshop.txt | grep -v '#' | sed '/^[ \t]*$/d'`
numOfIDs=`echo "$workshopIDs" | wc -l`
counter=0
while [ $counter -lt $numOfIDs ]; do
  currentID=`echo $workshopIDs | awk '{ print $1 }'`
  workshopIDs=`echo $workshopIDs | cut -d ' ' -f2-`
  echo -e "Downloading item $currentID from Steam... ($(expr $counter + 1)/$numOfIDs)"
  /usr/local/bin/steamcmd +login anonymous +workshop_download_item 282440 $currentID +quit > /dev/null
  ((counter++))
done
echo Done.
exit 0
